@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: 'Caveat', cursive;
    font-weight: 700;
}

div {
    width: 200px;
    height: 200px;
    background-color: orangered;
    display: inline-block;
}

.caja1 {
    outline: 10px solid green;
}