@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 40px;
}


/* Pseudoclase "hover" */
.caja1 {
    width: 300px;
    height: 50px;
    background-color: orangered;
    color: white;
    text-align: center;
    transition: background 2s, width 1s, height 2s, border 3s;
}

.caja1:hover {
    background-color: green;
    width: 500px;
    height: 500px;
    border: 10px solid blue;
}


/* Pseudoclase "link" */
a:link {
    color: green;
}


/* Pseudoclase "visited" */
a:visited {
    color: deeppink;
}


/* Pseudoclase "active" */
.press {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 30px;
    text-align: center;
}

.press:active {
    background-color: red;
    color: white;
}


/* Pseudoclase "focus" */
input {
    width: 200px;
    margin: 30px;
    background-color: aquamarine;
    transition: background 1s, width 1s;
}

input:focus {
    background-color: black;
    width: 700px;
}


/* Pseudoclase "lang" */
b {
    display: block;
    margin: 30px;
    width: 300px;
}

b:lang(en) {
    background-color: green;
}

b:lang(es) {
    background-color: deeppink;
    color: white;
}