@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 30px;
}

.text {
    padding: 30px;
}


/* Pseudoelemento "first-line" */
#ejemplo1::first-line {
    color: blue;
    font-size: 2.5em;
}


/* Pseudoelemento "first-letter" */
#ejemplo2::first-letter {
    color: rgb(255, 0, 0);
    font-size: 5em;
}


/* Pseudoelemento "placeholder" */
form {
    margin: 100px auto;
    display: block;
    background-color: blueviolet;
    padding: 50px;
    width: 50%;
}

input {
    padding: 6px;
    width: 100%;
}

input::placeholder {
    color: orangered;
    background-color: aqua;
}


/* Pseudoelemento "selection" */
h1::selection {
    color: indigo;
    background-color: orangered;
}


/* Pseudoelemento "before and after" */
b {
    font-size: 3em;
    color: deeppink;
}

b::before {
    content: "¡Si se puede";
    color: blue;
}

b::after {
    content: "se puede programar!";
    color: green;
}